In [5]:
import pandas as pd
speed = [88,89,80,80,81,85,84,83]
dataframe = pd.DataFrame(speed)
print(dataframe)

    0
0  88
1  89
2  80
3  80
4  81
5  85
6  84
7  83

In [24]:
import pandas as pd
import numpy as np
import statistics as stats
data = pd.read_csv("iris.csv")
df = pd.DataFrame(data)
print(df.loc[0])
group_setosa = df.groupby("variety")
print(group_setosa.max())
print(group_setosa.min())
print(group_setosa.mean())
print(group_setosa.median())
variety = np.array(group_setosa["variety"].unique())
print(group_setosa)
variety = np.array(df['variety'].drop_duplicates())
for i in variety:
    print(stats.mode(group_setosa.get_group(i)["sepal.length"]))

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object
            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               5.8          4.4           1.9          0.6
Versicolor           7.0          3.4           5.1          1.8
Virginica            7.9          3.8           6.9          2.5
            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               4.3          2.3           1.0          0.1
Versicolor           4.9          2.0           3.0          1.0
Virginica            4.9          2.2           4.5          1.4
            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa           5.00600      3.42800      1.462000     0.246000
Versicolor       5.93600      2.77000      4.260000     1.326000
Virginica        6.57451      2.97451      5.543137     2.021569
            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               5.0          3.4          1.50          0.2
Versicolor           5.9          2.8          4.35          1.3
Virginica            6.5          3.0          5.50          2.0
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000230BA8F6B40>
5.1
5.5
6.3

In [25]:
import pandas as pd
details = {"name" : ["hariharan", "mukil"], "age" : ["19","20"], "marks" : ["89", "90"] }
dataframe = pd.DataFrame(details)
print(dataframe)
print(dataframe[["name", "age"]])
data = np.array(dataframe.loc[dataframe["name"] == "hariharan"])
print(data)

        name age marks
0  hariharan  19    89
1      mukil  20    90
        name age
0  hariharan  19
1      mukil  20
[['hariharan' '19' '89']]

In [27]:
import pandas as pd 
data = pd.read_csv("iris.csv", index_col="sepal.length")
dataframe = pd.DataFrame(data)
print(dataframe["sepal.width"])
print(dataframe["sepal.width"].head())
print(dataframe["sepal.width"].tail())

sepal.length
5.1    3.5
4.9    3.0
4.7    3.2
4.6    3.1
5.0    3.6
      ...
6.7    3.0
6.3    2.5
6.5    3.0
6.2    3.4
5.9    3.0
Name: sepal.width, Length: 150, dtype: float64
sepal.length
5.1    3.5
4.9    3.0
4.7    3.2
4.6    3.1
5.0    3.6
Name: sepal.width, dtype: float64
sepal.length
6.7    3.0
6.3    2.5
6.5    3.0
6.2    3.4
5.9    3.0
Name: sepal.width, dtype: float64

In [38]:
#selecting a row
import pandas as pd
data  = pd.read_csv("iris.csv");
dataframe = pd.DataFrame(data);
variety = dataframe.loc[dataframe["variety"] == "Hariharan"]
print(variety.head())
single = dataframe.iloc[3]
print(single)

     sepal.length  sepal.width  petal.length  petal.width    variety
150           5.9          3.0           5.1          1.8  Hariharan
sepal.length       4.6
sepal.width        3.1
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 3, dtype: object

In [34]:
#selecting column
import pandas as pd
data = pd.read_csv("iris.csv")
dataframe = pd.DataFrame(data)
print(dataframe["petal.length"].head())

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal.length, dtype: float64

In [2]:
import pandas as pd
import numpy as np
details = { "first" : [99 ,np.nan ,80 , 76, np.nan],
           "second" : [np.nan, 89, 87, np.nan, 90],
           "third" : [90, 89, 80, 78, 81]}
dataframe = pd.DataFrame(details)
print(dataframe.isnull())
print(dataframe.notnull())
print(dataframe.dropna())
print(dataframe.fillna(0))
print(dataframe.fillna(method = "pad"))
print(dataframe.fillna(method = "bfill"))
print(dataframe.replace(to_replace= np.nan, value = -99))
print(dataframe.interpolate(method = "linear", limit_direction = "both"))

   first  second  third
0  False    True  False
1   True   False  False
2  False   False  False
3  False    True  False
4   True   False  False
   first  second  third
0   True   False   True
1  False    True   True
2   True    True   True
3   True   False   True
4  False    True   True
   first  second  third
2   80.0    87.0     80
   first  second  third
0   99.0     0.0     90
1    0.0    89.0     89
2   80.0    87.0     80
3   76.0     0.0     78
4    0.0    90.0     81
   first  second  third
0   99.0     NaN     90
1   99.0    89.0     89
2   80.0    87.0     80
3   76.0    87.0     78
4   76.0    90.0     81
   first  second  third
0   99.0    89.0     90
1   80.0    89.0     89
2   80.0    87.0     80
3   76.0    90.0     78
4    NaN    90.0     81
   first  second  third
0   99.0   -99.0     90
1  -99.0    89.0     89
2   80.0    87.0     80
3   76.0   -99.0     78
4  -99.0    90.0     81
   first  second  third
0   99.0    89.0     90
1   89.5    89.0     89
2   80.0    87.0     80
3   76.0    88.5     78
4   76.0    90.0     81

C:\Users\Hariharan.I.S\AppData\Local\Temp\ipykernel_23092\3700678382.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(dataframe.fillna(method = "pad"))
C:\Users\Hariharan.I.S\AppData\Local\Temp\ipykernel_23092\3700678382.py:12: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(dataframe.fillna(method = "bfill"))

In [4]:
import pandas as pd
import numpy as np
details = { "first" : [99 ,np.nan ,80 , 76, np.nan],
           "second" : [np.nan, 89, 87, np.nan, 90],
           "third" : [90, 89, 80, 78, 81]}
dataframe = pd.DataFrame(details)
for i,j in dataframe.iterrows(): 
    print(i, j)
    print("\n")

0 first     99.0
second     NaN
third     90.0
Name: 0, dtype: float64


1 first      NaN
second    89.0
third     89.0
Name: 1, dtype: float64


2 first     80.0
second    87.0
third     80.0
Name: 2, dtype: float64


3 first     76.0
second     NaN
third     78.0
Name: 3, dtype: float64


4 first      NaN
second    90.0
third     81.0
Name: 4, dtype: float64

In [70]:
import pandas as pd
import numpy as np
details = { "first" : [99 ,np.nan ,80 , 76, np.nan],
           "second" : [np.nan, 89, 87, np.nan, 90],
           "third" : [90, 89, 80, 78, 81]}
dataframe = pd.DataFrame(details)
column = list(dataframe)
for j in column:
    print(dataframe[j])

0    99.0
1     NaN
2    80.0
3    76.0
4     NaN
Name: first, dtype: float64
0     NaN
1    89.0
2    87.0
3     NaN
4    90.0
Name: second, dtype: float64
0    90
1    89
2    80
3    78
4    81
Name: third, dtype: int64

In [72]:
import pandas as pd
data  = pd.read_csv("iris.csv")
dataframe = pd.DataFrame(data)
print(dataframe)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica
150           5.9          3.0           5.1          1.8  Hariharan

[151 rows x 5 columns]